* {
    box-sizing: border-box; 
}

html, body {
    margin: 0;
    padding: 0;
    color: #C4C4C4;
    font-family: 'Open Sans';
    font-size: 12px;
    font-style: normal;
}

body {
    min-width: 100%;
    min-height: 100%;
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.title-bar {
    background-color: #272F37;
    /* background-color: #192531; */
    /* background-color: #0E1B28; */
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border-bottom: 1px solid #6E7175; */
}

.opened-file-name {
    text-align: center;
    flex: 1;
    -webkit-app-region: drag;
}

.app-control-bar {
    display: flex;
    flex-direction: row;
    width: 120px;
    height: 40px;
}

.app-control-buttons {
    width: 36px;
    height: 26px;
    border: none;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
}

.app-control-buttons:hover {
    background-color: #6E7175;
}

.app-control_bar > .minimizeButton {
    background-image: url("../icons/buttons/window_minimize.svg");
}

.app-control_bar > .maximizeButton {
    background-image: url("../icons/buttons/window_maximize.svg");
}

.app-control_bar > .restoreButton {
    background-image: url("../icons/buttons/window_restore.svg");
}

.app-control_bar > .closeButton {
    background-image: url("../icons/buttons/window_close.svg");
}

.app-field-box {
    display: flex;
    flex-direction: row;
    flex: 5;
}

.sidebar-menu {
    background-color: #272F37;
    min-width: 48px;
    max-width: 48px;
    padding: 4px;
    flex: 1;
}

.sidebar-connections-buttons {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.sidebar-connections-buttons:hover {
    background-color: #6E7175;
}

.sidebar-connections > #addConnection {
    background-image: url("../icons/buttons/add_connection.svg");
    background-size: 60%;
}

.explorer {
    background-color: #333C45;
    min-width: 160px;
    min-height: 100%;
}
.editor-output-box {
    display: flex;
    flex-direction: column;
    flex: 5;
}

.editor {
    background-color: #272F37;
    min-width: 100%;
    min-height: 10vh;
    flex-grow: 1;
}

.output {
    background-color: #272F37;
    min-width: 100%;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    flex: 5;
    border-top: 1px solid #6E7175;
}
